
<div align="center"><h7 align="center">Bienvenidos al sistema de Administracion Condominal</h7>
<img src="/img/SIADCON.png" width="350" height="350" alt="logo" /></div>
<% if (isAuthenticated){ %>
  <h2> Hola  <%= user[0].nombre %> </h2>
    <%}%>
