</body>
<footer id="footer">
			<div class="center">
				<span class="copy">Amairani Parada - Alejandro López </span>
				Proyecto Final <a href=""></a>Programación Web de Pila Completa
			</div>
		</footer>
</html>